.context {
    text-align: center;
}

.tech {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 650px !important;
}

.main-section {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.secondary {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    padding-left: 5px !important;
}
