.black {
    background-color: black;
}

.context {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    text-align: center;
    background-color: rgb(37, 202, 204);
}

.tech {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 650px !important;
}

.card-divider {
    background-image: linear-gradient(180deg, rgb(37, 202, 204), rgb(63, 124, 217), blue);
}

.card-section {
    background-image: linear-gradient(180deg, rgb(37, 202, 204), rgb(63, 124, 217), rgb(44, 99, 184), blue);
}

.main-section {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.secondary {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    padding-left: 5px !important;
}
